# Kubernetes deployment description for Identifiers.org Resolver Web Service
#
# Author: Manuel Bernal Llinares <mbdebian@gmail.com>
apiVersion: apps/v1beta2
kind: Deployment
metadata:
    name: resolver
spec:
    selector:
        matchLabels:
            environment: production
            tier: api
            app: resolver
    replicas: 2
    template:
        metadata:
            labels:
                environment: production
                tier: api
                app: resolver
        spec:
            containers:
                - name: cloud-ws-resolver
                  image: identifiersorg/cloud-ws-resolver
                  resources:
                      requests:
                          memory: 1048Mi
                  ports:
                  - containerPort: 8080
