# identifiers.org docker-compose based cloud deployment

#														#
# Author: Manuel Bernal Llinares <mbdebian@gmail.com>	#
#														#

version: "3"
    metadata:
        image: identifiersorg/cloud-ws-metadata
        environment:
            - WS_METADATA_CONFIG_RESOLVER_HOST=resolver
            - WS_METADATA_CONFIG_RESOLVER_PORT=8080
        ports:
            - 8082:8082
        depends_on:
            - resolver
    registry:
        image: identifiersorg/cloud-ws-registry
        environment:
            - WS_REGISTRY_CONFIG_RESOLVER_HOST=resolver
            - WS_REGISTRY_CONFIG_RESOLVER_PORT=8080
            - WS_REGISTRY_CONFIG_EMAIL_HOST=set_your_environment_value
            - WS_REGISTRY_CONFIG_EMAIL_PORT=set_your_environment_value
            - WS_REGISTRY_CONFIG_EMAIL_USERNAME=set_your_environment_value
            - WS_REGISTRY_CONFIG_EMAIL_PASSWORD=set_your_environment_value
            - WS_REGISTRY_CONFIG_EMAIL_TRANSPORT_PROTOCOL=set_your_environment_value
            - WS_REGISTRY_CONFIG_EMAIL_BOOLEAN_SMTP_AUTH=set_your_environment_value
            - WS_REGISTRY_CONFIG_EMAIL_BOOLEAN_START_TLS=set_your_environment_value
            - WS_REGISTRY_CONFIG_EMAIL_BOOLEAN_DEBUG=set_your_environment_value
        ports:
            - 8081:8081
        depends_on:
            - resolver
    resolver:
        image: identifiersorg/cloud-ws-resolver
        ports:
            - 8080:8080
